<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">En ce Moment</h1>
    <p class="hero-subtitle">
      Pirates des Caraïbes
    </p>

    <div class="hero-buttons">
      <button class="hero-btn hero-btn-primary" onclick="{{hShow}}" >Regarder</button>
      <button class="hero-btn hero-btn-secondary" onclick="document.querySelector('#section1').scrollIntoView({ behavior: 'smooth' })">
  Voir les nouveautés
</button>

    </div>
  </div>

  <div class="hero-image">
    <img src="../server/images/Pirates-des-caraibe_hero.png" alt="hero">
  </div>
</section>
